body {
  overflow: hidden;
}

button {
  color: #fff;
  background-color: rgb(50, 49, 49);
  margin: 1px;
  width: 60px;
  height: 60px;
  border: none;
}

button.margin4 {
  margin-left: 6px;
}

button.gray{
  color: #000;
  font-weight: 600;
  font-size: 20px;
  background-color: gray;
  border-radius: 50%;
}

button.radius {
  margin-top: 5px;
  border-radius: 50%;
}

button.col-4 {
  border-radius: 30px;
}

button:hover {
  opacity: .6;
}

.calc {
  font-size: 30px;
  height: 480px;
  padding: 20px;
  border-radius: 40px;
}

#voltar {
  float: right;
  margin-right: 5px;
}

div.container #resultado {
  font-size: 50px;
  height: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  justify-content: right;
}

@media screen and (max-width: 900px) {
  body{
    zoom: 0.8;
  }

  form {
    text-align: center;
  }
}


@media screen and (max-width: 600px) {
  body{
    zoom: 0.8  ;
  }

  div.container #resultado {
    font-size: 20px;
  }

  form {
    text-align: center;
  }
}